body {
  background-color: #C7C8CC;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
 
}

button {
  text-transform: uppercase;
  background-color: #393E46;
  padding: 10px;
  border: none;
  width: 150px;
  color: red;
}


h1 {
  padding: 20px;
  font-size: 40px;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
}

.btn {
  margin-top: 40px;
}